# WebSocket Configuration
WS_URL='robomesh.ssilabs.org'
WS_PATH='wsbridge'
WS_URLSCHEME='wss'

NODE_TYPE='robot'
NODE_ID=''
NODE_TOKEN=''

# the IP and port of the computer that is streaming the video
RTP_VIDEO_IP=127.0.0.1
RTP_VIDEO_PORT=5004
# the IP and port of the computer that is streaming the audio
RTP_AUDIO_IP=127.0.0.1
RTP_AUDIO_PORT=5006
WORKSTATION_IP=127.0.0.1
